* {
  font-family: 'Montserrat', sans-serif;
}

.cs-label {
  color: #1677ff;
  font-size: 13px;
}

.ant-select-selection-placeholder {
  color: rgba(0, 0, 0, 0.7) !important;
}

.ant-select-multiple .ant-select-selection-item-remove>.anticon,
.ant-select-item-option-state span.anticon.anticon-check {
  vertical-align: middle;
}

.cs-ant-select.ant-select-multiple .ant-select-selection-overflow {
  flex-wrap: nowrap !important;
  overflow: clip !important;
}

ul.app-sidebar {
  background: none;
}

ul.app-sidebar>li.ant-menu-item {
  background-color: transparent;
  color: #fff;
}

ul.app-sidebar>li.ant-menu-item:hover {
  background-color: #0441c3 !important;
  color: #fff !important;
}

ul.app-sidebar>li.ant-menu-item.ant-menu-item-selected {
  background-color: #0441c3;
}

ul.app-sidebar>li.ant-menu-item>svg.ant-menu-item-icon {
  font-size: 16px;
  height: auto;
}

ul.app-sidebar>li.ant-menu-item a {
  text-decoration: none;
}

li.ant-menu-item:has(span.ant-menu-title-content>a.ant-menu-active-child) {
  background-color: #0441c3 !important;
  color: #fff;
}

.cs-card {
  border-radius: 8px;
  background: #0257fa;
  color: #fff;
  min-height: 200px;
  font-size: 16px;
  padding: 10px;
  position: relative;

}

.cs-card-title {
  font-size: 18px;
  font-weight: 600;
}

.cs-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  padding: 1rem;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}

.logo {
  height: 32px;
  margin-left: 1rem;
}